# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env

# Logs
*.log
logs/
*.out
*.pid
*.seed

# Editor/IDE files
.vscode/
.idea/
*.swp
*.swo
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Build files
/dist
/build
coverage/
